<html>
<head>
    <title>({{ title }})</title>
    <link rel="stylesheet" href="{{ css_url }}" />
</head>
<body>
	<div class="report-content">
		
		<div class="top-logo">
			<img src="{{ logo_url }}" width="700" alt="Logo">
		</div>

		<div class="table-container">
			<div>
				<table class="sideways">
					<tbody>
						<tr>
							<td class="field-name">Date</td>
							<td class="field-value">{{ date }}</td>
							<td class="field-name">Job/Project</td>
							<td class="field-value">{{ project }}</td>
						</tr>
						<tr>
							<td class="field-name">Subcontractor</td>
							<td class="field-value">{{ name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<br>
		
		<!-- OptionID to Description Mapping -->
		{% set optionid_to_description = {
			"10761": "Overview of Scope of Work",
			"10762": "Location of First Aid Kits",
			"10763": "Location of Fire Extinguishers",
			"10764": "Location of washrooms",
			"10765": "Site PPE requirements",
			"10766": "FLRA Requirements",
			"10767": "Drug and Alcohol Requirements",
			"10768": "Right to Refuse",
			"10769": "Location of Safety Board",
			"10770": "Location of Camp (if required)",
			"10771": "Location of Muster Point",
			"10772": "ERP",
			"10773": "Introduction to Supervisors",
			"10774": "Site Specific Rules",
			"10775": "Location of Radio and Sign In/Out",
			"10776": "Location of Daily Meetings",
			"10777": "Harassment Policy Posted",
			"10778": "Reporting Incident Process",
			"10779": "Working in Area of Blind Spots",
			"10780": "Other"
		} %}

		<!-- Display the Table -->
		<table border="1">
			<tr>
				<th>Subcontractor Site Safety Orientation</th>
				<th>Reviewed</th>
				<th>Comments</th>
			</tr>
			{% for item in orientation_values.Values %}
				{% set option_name = optionid_to_description.get(item.OptionID|string, 'Unknown Option') %}
				{% if item.Value == 2 %}
					{% set value_text = 'Yes' %}
				{% else %}
					{% set value_text = 'No' %}
				{% endif %}
				<tr>
					<td>{{ option_name }}</td>
					<td>{{ value_text }}</td>
					<td>{{ item.Comment }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>